<div class="loginpage">

<div  class="login_page">
  <div class="login-container">
    <div class="logo_head">
      <img src="assets/img/logo_iamtext.png" alt="">
    </div>
    <div class="title_area">
      <h1>
        connectez vous à votre compte<br>
        <span>Utilisez votre login et votre mot de passe pour vous connecter</span>
      </h1>
    </div>


    <div class="login_form">
      <form (ngSubmit)="connexion()" class="form-horizontal" style="margin-bottom: 0px !important;">
<!--        <div class="content">-->
<!--          &lt;!&ndash;          <flash-messages id="global-FM"></flash-messages>&ndash;&gt;-->
<!--          <div class="field_contaner">-->
<!--            <input type="text" name="username" class="control" id="login" placeholder="Nom d'utilisateur" maxlength="30" [(ngModel)]="username" autocomplete="off" autofocus>-->
<!--          </div>-->
<!--          <div class="field_contaner">-->
<!--            <input type="password" name="password" class="control" id="password" placeholder="Mot de passe" maxlength="20" [(ngModel)]="password" autocomplete="off">-->
<!--          </div>-->
<!--        </div>-->
        <div class="content">
          <div class="field_contaner">
            <input type="text" name="username" class="control" id="login" placeholder="Nom d'utilisateur" maxlength="30" [(ngModel)]="username" autocomplete="off" required   #usernameModel="ngModel">
            <div *ngIf="usernameModel.invalid && (usernameModel.dirty || usernameModel.touched)">
              <div *ngIf="usernameModel.errors?.['required']" style="color: red" class="alert alert-danger">Le nom d'utilisateur est requis.</div>
            </div>
          </div>

          <div class="field_contaner">
            <input type="password" name="password" class="control" id="password" placeholder="Mot de passe" maxlength="30" [(ngModel)]="password" autocomplete="off" required  #passwordModel="ngModel">
            <div *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)">
              <div *ngIf="passwordModel.errors?.['required']" style="color: red" class="alert alert-danger">Le mot de passe est requis.</div>
            </div>
          </div>
        </div>
        <p class="align_center submit_area">
          <button class="action_btn" type="submit">Connexion</button>
        </p>
      </form>
      <div class="alert alert-danger" *ngIf="flashMessage">{{flashMessage}}</div>
    </div>

  </div>
</div>
<div class="loading-spinner"></div>
</div>

