<div>
  <nav class="navbar navbar-default navbar-static-top main_menu"
       role="navigation" style="margin-bottom: 0px !important;">
    <div class="row">
      <div class="col-md-2">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#topmennu-collapse">
            <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo_area" href=""> <img
            src="assets/img/logo.png" alt="IAM">
          </a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="topmennu-collapse">
        <div class="col-md-3 pull-right no-right_gutter options_area">
          <div class="col-md-9 profile_area">
            <a href="" data-toggle="dropdown" aria-expanded="false">
								<span class="ng-binding">
									<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Bonjour, {{"Mohamed"}}
								</span>
            </a>
          </div>
          <div class="col-md-3 logout_area pull-right no-right_gutter">
            <a (click)="logout()" class="" style="cursor: pointer;"></a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="contenu">
    <aside class="left_menu">
      <ul id="nav-menu">
        <li id="menu-FOURNI">
          <a [routerLink]="'/fournisseur'">
            <span>
              <img  src="assets/img/nav/fourni.png" alt="Fournisseur">FOURNISSEUR
            </span>
          </a>
        </li>
        <li  id="menu-CONSULTATION">
          <a [routerLink]="'/consultation'">
          <span>
								<img src="assets/img/nav/consultation.png" alt="Consultation">CONSULTATION
					</span>
         </a>
        </li>
        <li id="menu-REMISE-CONTROLE">
          <a [routerLink]="'/remise-controle'">
          <span>
								<img src="assets/img/nav/doc.png" alt="Consultation">REMISE CONTR&Ocirc;LE
					</span>
         </a>
        </li>
      </ul>
    </aside>
    <div id="contenu">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
